*{
  color: white;
  background: black;
}
.login{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  background: grey;
  width: 50%;
  height: 90%;
  height: 500px;
  padding: 50px;
  margin: 7% 17%;
  border-radius: 15%;
}
.btn{
  text-decoration: none;
  padding: 20px 50px;
  font-size: 1.25rem;
  position: relative;
  margin: 32px;
  border: 0px solid rgba(255, 255, 255, 0);
}

.auth{
  background: black;
  color: white;
  border-radius:  30px;
  transition: transform 0.3s ease;
  border: 2px solid #3498db;
}

 .auth::after, .auth::before{
  content: '';
  position: absolute;
  opacity: 0.3;
  background: black;
  border-radius: inherit;
  width:100%;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1; 
  transition: transform 0.3 ease; 
}

.auth:hover{
  transform: translate(-1px, -12px);
}

.auth:hover::after{
  transform: translate(7px, 7px);
}

.auth:hover::before{
  transform: translate(12px, 12px);
} 
.box{
  background: grey;
}
.box input[type ="text"],.box input[type = "password"],.box input[type ="username"] {
  border: 0;
  background: black;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 2px solid #3498db;
  padding: 14px 10px;
  width: 200px;
  outline: none;
  color: white;
  border-radius: 24px;
}

.box h1{
  color: white;
  background: grey;
  text-transform: uppercase;
  font-weight: 500;
  text-align: center;
  /* margin-bottom: 100px; */
}

.toggle{
  border: 1px solid #3498db;
  border-radius: 7px;
}